<!DOCTYPE html>

<html>
<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
    
<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Omer F. C. It gets it's geocode data from mapbox.com and uses it on openweathermap.org to get forecast data.</p>
        <img class="painting" src="/img/card.JPG" width="500">
    </div>

     {{>footer}}

</body>


</html>