<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <br><br>
        <div>
        <img class="ahmet" src="/img/1.JPG" width="200">
        <img class="ahmet" src="/img/2.JPG" width="200">
        <img class="ahmet" src="/img/3.JPG" width="200">
        </div>
        <br><br>

        <p><h3>Dear Ahmet, type location into search bar to find weather info.</h3></p>

        
    <form action="">
        <input placeholder="Location">
        <button>Search</button>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </form>
    
    </div>
   
    {{>footer}}

        <script src="/js/app.js"></script>
</body>

    

</html>